# Python
__pycache__/
#*.py[cod]
.dyn_cache/

# Virtual env
.venv/

# Jupyter
.ipynb_checkpoints/

# Large binaries
*.gif
*.mp4

#Photos
*.png
!LaTeX_Tables/Merged_Thesis/**/*.png
!LaTeX_Tables/merged_thesis/**/*.png
!**/*training*curve*.png
!**/*traning*curve*.png

#Path library

/path_5/
.DS_Store


#Runs library
/runs/

#IC Samples

ic_samples*.npzic_samples*.npz
ic_samples*.npz
